#logo {
  float: left;
}

a:link {
    text-decoration: none;
}

#nav-button {
  float:right;
}

#nav-button ul {
  display: block;
}
#nav-button ul li{
  display: inline-block;
  text-decoration: none;
}

#homepage-banner img{
  width: 100%;
}

.container {
  width: 100%;
}


#filter {
  margin: auto;
  width: 80%;
}

#filter ul li {
  display: inline-block;
}
#filter div{
  margin: auto;
  width: 40%;
}

#work {
  margin: 0 250px;
  width: 80%;
}
.worklist ul {
  width: 250px;
  float:left;
}

.worklist img {
  width: 250px;
}

#work ul li {
  list-style: none;
}

#footer {
  clear: both;
  width: 100%;
}

#footer-img {
  margin: auto;
}
