a:link {
    text-decoration: none;
}

#logo {
  float: left;
  width: 10px;
}



#nav-button {
  float:right;
}

#nav-button img {
  width: 20px;
}


#nav-button ul {
  display: block;
}
#nav-button ul li{
  display: inline-block;
  text-decoration: none;
}

#homepage-banner img{
  width: 100%;
}

.container {
  width: 100%;
}


#filter {
  display: block;
  margin: auto;
  width: 80%;
}

#filter ul li {
  display: inline-block;
}
#filter div{
  margin: auto;
  width: 40%;
}

#work {
  margin: 0 250px;
  width: 80%;
}
.worklist {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.worklist div {
  width: 200px;
  padding: 20px;
}



#work ul li {
  list-style: none;
}

#footer {
  clear: both;
  margin: 40%;
  width: 80%;
}

#footer-img {
  margin: auto;
}
